* {
  box-sizing: border-box;
}

body {
  background-color: #333942;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  padding: 20px;
}

header {
  padding: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px; // Adjust as needed
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
